table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.extra-partner-title-container {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.extra-partner-title {
  color: white;
}

.action-icon-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.action-icon {
  cursor: pointer;
}
