
.extra-action-title-container {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.extra-action-title {
  color: white;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.partner-toolbar {
  margin-top: 10px;
  align-self: center;
  width: 80%;
}
